# Board Game Arena
BGA_USERNAME=
BGA_PASSWORD=

# 18xx.games
EIGHTEENXX_USERNAME=
EIGHTEENXX_PASSWORD=

# onlineboardgamers.com
OBG_USERNAME=
OBG_PASSWORD=

# Yucata
YUCATA_USERNAME=
YUCATA_PASSWORD=

# choochoo.games
CHOOCHOO_USERNAME=
CHOOCHOO_PASSWORD=

# Hansa Teutonica
HANSA_USERNAME=
HANSA_PASSWORD=

# Rally the Troops
RALLY_USERNAME=
RALLY_PASSWORD=

# Vercel KV (filled automatically when KV store is linked in Vercel dashboard)
KV_REST_API_URL=
KV_REST_API_TOKEN=
